<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout::layout(~{::content}, ~{::meta})"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="meta">
  <link rel="stylesheet" href="/assets/css/contact-style.css" />
</head>
<body class="is-preload no-sidebar" th:fragment="content">
<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div id="content">
      <!-- Kapcsolatfelvételi űrlap -->
      <article>
        <h2>Kapcsolatfelvétel</h2>

        <!-- Hibaüzenet -->
        <div th:if="${error}" class="alert alert-danger">
          <p th:text="${error}"></p>
        </div>

        <!-- Sikerüzenet -->
        <div th:if="${success}" class="alert alert-success">
          <p th:text="${success}"></p>
        </div>

        <form id="contact-form" method="post" th:action="@{/contact/submit}">
          <div sec:authorize="isAnonymous()"  class="form-group">
            <label for="email">Email cím:</label>
            <input type="email" id="email" name="email" class="form-control" maxlength="255"  required />
            <input type="hidden" id="isRegistered" name="isRegistered" value=false />
          </div>

          <div class="form-group">
            <label for="message">Üzenet:</label>
            <textarea id="message" name="message" class="form-control" rows="5" maxlength="1000" required></textarea>
          </div>
          <div class="form-group button-group">
            <button type="submit" id="submit-button">Küldés</button>
          </div>
        </form>
      </article>

    </div>
  </div>
</div>
<script src="/assets/js/contact.js"></script>
</body>
</html>