<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" th:replace="layout::layout(~{::content}, ~{::meta})">

<head>
	<meta charset="UTF-8">
</head>
<body>
	<!-- Main -->
	<div id="main-wrapper" th:fragment="content">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-4 col-12-medium">

					<!-- Sidebar -->
					<div id="sidebar">
						<section class="widget thumbnails">
							<h3>Nagy nyeremények várják önt!</h3>
							<div class="grid">
								<div class="row gtr-50">
									<div class="col-6"><a href="#" class="image fit"><img src="/images/money1.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="/images/money2.jpg" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="/images/money4.png" alt="" /></a></div>
									<div class="col-6"><a href="#" class="image fit"><img src="/images/money3.jpg" alt="" /></a></div>
								</div>
							</div>
						</section>
					</div>

				</div>
				<div class="col-8 col-12-medium imp-medium">

					<!-- Content -->
					<div id="content">
						<section class="last">
							<h2>Üdvözöljük a <strong>Hatos Lottó</strong> weboldalán!?</h2>
							<p>A hatos lottón játszani izgalmas élmény, hiszen minden szelvény új reményt ad a nagy nyereményre. A heti sorsolások izgalommal tölthetik meg a hétköznapokat, amikor elképzeli, hogy mit kezdene a nyereménnyel. Az apró befektetés mellett óriási esélyek várják, hiszen akár életre szóló anyagi biztonságot is hozhat. Ráadásul a barátokkal vagy családdal együtt játszani közös élmény, ami összehozhat mindenkit a lottósorsolás estéjén. </p>
						</section>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>